version: '3.8'

services:
  teamr-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: teamr-app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    networks:
      - app-network

networks:
  app-network:
    driver: bridge