name: CI - Build and Test

on:
  pull_request:
    branches: [ "**" ]
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build without tests
        run: ./gradlew build -x test --no-daemon
        env:
          GRADLE_OPTS: "-Dgradle.wrapper.networkTimeout=180000"
